db_host_name     = db.us-east-1.rds.amazonaws.com
db_username      = user1
db_password      = password1
ops_username     = user2
ops_password     = password2
public_ip01      = 10.0.0.1
instance_name01  = Web Server
public_ip02      = 10.0.0.2
instance_name02  = Upload Server
public_ip03      = 10.0.0.3
instance_name03  = Download Server
server_running   = Yes
