<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/black.css">
  </head>

  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey</div>

<script>
  function isInteger(num) {
	  return parseInt(num,10).toString() == num;
  }

  function isFloat(num) {
	  return parseFloat(num).toString() == num;
	}

  function isNumber(num) {
	  return !isNaN(parseFloat(num)) && isFinite(num);
  }

  function galaxySearch(nextPage, apply) {
	  var form = document.getElementById('searchForm');
    var form_page = form.elements["page"]
	  form_page.value = nextPage;

    if (apply) {
    	// Apply changes to the Filter values.
      var input_type = document.getElementById('input_type');
      var input_name = document.getElementById('input_name');
      var input_ra_from = document.getElementById('input_ra_from');
      var input_ra_to = document.getElementById('input_ra_to');
      var input_dec_from = document.getElementById('input_dec_from');
      var input_dec_to = document.getElementById('input_dec_to');
      var input_sort = document.getElementById('input_sort');
      var input_per_page = document.getElementById('input_per_page');

      var valid = true;
      if (input_ra_from.value != "" && !isNumber(input_ra_from.value)) {
        window.alert("The RA From is not a valid number");
        valid = false;
  	  }
      if (input_ra_to.value != "" && !isNumber(input_ra_to.value)) {
        window.alert("The RA To is not a valid number");
        valid = false;
      }
      if (input_dec_from.value != "" && !isNumber(input_dec_from.value)) {
        window.alert("The DEC From is not a valid number");
        valid = false;
      }
      if (input_dec_to.value != "" && !isNumber(input_dec_to.value)) {
        window.alert("The DEC To is not a valid number");
        valid = false;
      }
      if (!isInteger(input_per_page.value)) {
        window.alert("The Galaxies Per Page is not a valid number");
        valid = false;
  	  }
      if (parseInt(input_per_page.value,10) > 100) {
      	input_per_page.value = "100";
      }

      if (valid) {
        var form_type = form.elements["type"]
        var form_name = form.elements["name"]
        var form_ra_from = form.elements["ra_from"]
        var form_ra_to = form.elements["ra_to"]
        var form_dec_from = form.elements["dec_from"]
        var form_dec_to = form.elements["dec_to"]
        var form_per_page = form.elements["per_page"]
        var form_sort = form.elements["sort"]

        form_type.value = input_type.options[input_type.selectedIndex].value;
        form_name.value = input_name.value;
        form_ra_from.value = input_ra_from.value;
        form_ra_to.value = input_ra_to.value;
        form_dec_from.value = input_dec_from.value;
        form_dec_to.value = input_dec_to.value;
        form_per_page.value = input_per_page.value;
        form_sort.value = input_sort.options[input_sort.selectedIndex].value;
        form.submit();
      }
    }
    else {
      form.submit();
    }
  }
</script>

<form id="searchForm" method="get" action="GalaxyList">
  <input type="hidden" value="" name="page"/>
  <input type="hidden" value="{{ type }}" name="type"/>
  <input type="hidden" value="{{ name }}" name="name"/>
  <input type="hidden" value="{{ ra_from }}" name="ra_from"/>
  <input type="hidden" value="{{ ra_to }}" name="ra_to"/>
  <input type="hidden" value="{{ dec_from }}" name="dec_from"/>
  <input type="hidden" value="{{ dec_to }}" name="dec_to"/>
  <input type="hidden" value="{{ sort }}" name="sort"/>
  <input type="hidden" value="{{ per_page }}" name="per_page"/>

    <table>
      <tr>
        <td>Type</td>
        <td>
          <select id="input_type">
            <option value=""{% if type == ""%} selected{% endif %}>All</option>
            <option value="S"{% if type == "S"%} selected{% endif %}>Spiral</option>
            <option value="SB"{% if type == "SB"%} selected{% endif %}>Spiral Barred</option>
            <option value="E"{% if type == "E"%} selected{% endif %}>Elliptical</option>
            <option value="L"{% if type == "L"%} selected{% endif %}>Lenticular</option>
            <option value="I"{% if type == "I"%} selected{% endif %}>Irregular</option>
          </select>
        </td>
        <td>Name</td>
        <td><input type="text" id="input_name" size="10" maxlength="20" value="{{ name }}"/></td>
        <td>RA From</td>
        <td><input type="text" id="input_ra_from" size="5" maxlength="10" value="{{ ra_from }}"/></td>
        <td>To</td>
        <td><input type="text" id="input_ra_to" size="5" maxlength="10" value="{{ ra_to }}"/></td>
        <td>Sort By</td>
        <td>
          <select id="input_sort">
            <option value="NAME"{% if sort == "NAME"%} selected{% endif %}>Name</option>
            <option value="RADEC"{% if sort == "RADEC"%} selected{% endif %}>RA/DEC</option>
            <option value="TYPE"{% if sort == "TYPE"%} selected{% endif %}>Type</option>
            <option value="USED"{% if sort == "USED"%} selected{% endif %}>Used</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Galaxies Per Page</td>
        <td><input type="text" id="input_per_page" size="5" maxlength="10" value="{{ per_page }}"/></td>
        <td></td>
        <td></td>
        <td>DEC From</td>
        <td><input type="text" id="input_dec_from" size="5" maxlength="10" value="{{ dec_from }}"/></td>
        <td>To</td>
        <td><input type="text" id="input_dec_to" size="5" maxlength="10" value="{{ dec_to }}"/></td>
        <td></td>
        <td><input type="button" onclick="galaxySearch(1, true)" value="Apply Filter"></td>
      </tr>
    </table>
</form>

{% if galaxy_list %}
    <table>
      <tr>
        <td colspan="6">Below is the list of Galaxies used for this survey for the specified search criteria.<br>Click on the image to see further images of the galaxy.</td>
        <td colspan="2" align='right'>
          {% if prev_page %}<a href='javascript:galaxySearch({{ prev_page }}, false)'>Previous Page</a>{% endif %}
          {% if next_page %}<a href='javascript:galaxySearch({{ next_page }}), false'>Next Page</a>{% endif %}
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th title="Right Ascension">RA</th>
        <th title="Declination">Dec</th>
        <th>Redshift</th>
        <th title="Hubble Type">Type</th>
        <th title="Dimensions">Dim</th>
        <th>Percent<br>Complete</th>
        <th>More</th>
      </tr>
      {% for line in galaxy_list %}
      <tr>
        <td>{{ line.name }}</td>
        <td valign='top' style="border-color:white; border-width:1px;">
          <a href='Galaxy/{{ line.galaxy_id }}'><img src="GalaxyThumbnailImage/{{ line.galaxy_id }}/1" width="80px" height="80px"></a>
        </td>
        <td>{{ line.ra_cent }}</td>
        <td>{{ line.dec_cent }}</td>
        <td>{{ line.redshift }}</td>
        <td>{{ line.galaxy_type }}</td>
        <td>{{ line.dimensions }}</td>
        <td>{{ line.pct_complete }}</td>
        <td><a href="http://ned.ipac.caltech.edu/cgi-bin/objsearch?objname={{ line.name }}&extend=no&hconst=73&omegam=0.27&omegav=0.73&corr_z=1&out_csys=Equatorial&out_equinox=J2000.0&obj_sort=RA+or+Longitude&of=pre_text&zv_breaker=30000.0&list_limit=5&img_stamp=YES" target="_blank">Galaxy details</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="6"></td>
        <td colspan="2" align='right'>
          {% if prev_page %}<a href='javascript:galaxySearch({{ prev_page }}, false)'>Previous Page</a>{% endif %}
          {% if next_page %}<a href='javascript:galaxySearch({{ next_page }}), false'>Next Page</a>{% endif %}
        </td>
      </tr>
    </table>
{% else %}
    <p>There are currently no galaxies in this survey with the specified criteria.</p>
{% endif %}

{% include "pogs/footer.html" %}
  </body>
</html>
