<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey</div>
    
{% if galaxy_list %}
    <table>
      <tr>
        <td colspan="3">Below is the list of Galaxies used for this survey.  Click on the image to see further images of the galaxy.</td>
        <td colspan="2" align='right'>
          {% if prev_page %}<a href='../GalaxyList/{{ prev_page }}'>Previous Page</a>{% endif %}
          {% if next_page %}<a href='../GalaxyList/{{ next_page }}'>Next Page</a>{% endif %}
        </td>
      <tr>
      {% for line in galaxy_list %}
      <tr>
        <td>{{ line.name1 }}</td>
        <td>{{ line.name2 }}</td>
        <td>{{ line.name3 }}</td>
        <td>{{ line.name4 }}</td>
        <td>{{ line.name5 }}</td>
      </tr>
      <tr>
        <td valign='top' style="border-color:white; border-width:1px;">
          <a href='../Galaxy/{{ line.id1 }}'><img src="../GalaxyImage/{{ line.id1 }}/1" width="{{ line.width1 }}px" height="{{ line.height1 }}px"></a>
        </td>
        <td valign='top' {% if line.id2 %}style="border-color:white; border-width:1px;"{% endif %}>
          {% if line.id2 %}<a href='../Galaxy/{{ line.id2 }}'><img src="../GalaxyImage/{{ line.id2 }}/1" width="{{ line.width2 }}px" height="{{ line.height2 }}px"></a>{% endif %}
        </td>
        <td valign='top' {% if line.id3 %}style="border-color:white; border-width:1px;"{% endif %}>
          {% if line.id3 %}<a href='../Galaxy/{{ line.id3 }}'><img src="../GalaxyImage/{{ line.id3 }}/1" width="{{ line.width3 }}px" height="{{ line.height3 }}px"></a>{% endif %}
        </td>
        <td valign='top' {% if line.id4 %}style="border-color:white; border-width:1px;"{% endif %}>
          {% if line.id4 %}<a href='../Galaxy/{{ line.id4 }}'><img src="../GalaxyImage/{{ line.id4 }}/1" width="{{ line.width4 }}px" height="{{ line.height4 }}px"></a>{% endif %}
        </td>
        <td valign='top' {% if line.id5 %}style="border-color:white; border-width:1px;"{% endif %}>
          {% if line.id5 %}<a href='../Galaxy/{{ line.id5 }}'><img src="../GalaxyImage/{{ line.id5 }}/1" width="{{ line.width5 }}px" height="{{ line.height5 }}px"></a>{% endif %}
        </td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are currently no galaxies in this survey.</p>
{% endif %}
    
{% include "pogs/footer.html" %}
  </body>
</html>