<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey</div>
    
{% if galaxy_list %}
    <table>
      <tr>
        <td colspan="5">Below is the list of Galaxies used for this survey.  Click on the image to see further images of the galaxy.</td>
        <td colspan="2" align='right'>
          {% if prev_page %}<a href='../GalaxyList/{{ prev_page }}'>Previous Page</a>{% endif %}
          {% if next_page %}<a href='../GalaxyList/{{ next_page }}'>Next Page</a>{% endif %}
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th title='Right Ascension"'>RA</th>
        <th title='Declination'>Dec</th>
        <th>Redshift</th>
        <th>Type</th>
        <th>More</th>
      </tr>
      {% for line in galaxy_list %}
      <tr>
        <td>{{ line.name }}</td>
        <td valign='top' style="border-color:white; border-width:1px;">
          <a href='../Galaxy/{{ line.galaxy_id }}'><img src="../GalaxyImage/{{ line.galaxy_id }}/1" width="80px" height="80px"></a>
        </td>
        <td>{{ line.ra_cent }}</td>
        <td>{{ line.dec_cent }}</td>
        <td>{{ line.redshift }}</td>
        <td>{{ line.galaxy_type }}</td>
        <td><a href="http://ned.ipac.caltech.edu/cgi-bin/objsearch?objname={{ line.name }}&extend=no&hconst=73&omegam=0.27&omegav=0.73&corr_z=1&out_csys=Equatorial&out_equinox=J2000.0&obj_sort=RA+or+Longitude&of=pre_text&zv_breaker=30000.0&list_limit=5&img_stamp=YES" target="_blank">Galaxy details</a></td>
      </tr>
      {% endfor %}
      <tr>
        <td colspan="5"></td>
        <td colspan="2" align='right'>
          {% if prev_page %}<a href='../GalaxyList/{{ prev_page }}'>Previous Page</a>{% endif %}
          {% if next_page %}<a href='../GalaxyList/{{ next_page }}'>Next Page</a>{% endif %}
        </td>
      </tr>
    </table>
{% else %}
    <p>There are currently no galaxies in this survey.</p>
{% endif %}
    
{% include "pogs/footer.html" %}
  </body>
</html>
