<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/pogs/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/pogs/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey</div>
    
  {% if user_galaxy_list %}
    <p>Below is the list of galaxies where your computer has been credited.
    <table>
      <tr>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
      </tr>
    {% for line in user_galaxy_list %}
      <tr>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id1 }}">{{ line.name1 }}</a></td>
        <td>{{ line.redshift1 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id2 }}">{{ line.name2 }}</a></td>
        <td>{{ line.redshift2 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id3 }}">{{ line.name3 }}</a></td>
        <td>{{ line.redshift3 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id4 }}">{{ line.name4 }}</a></td>
        <td>{{ line.redshift4 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id5 }}">{{ line.name5 }}</a></td>
        <td>{{ line.redshift5 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.id6 }}">{{ line.name6 }}</a></td>
        <td>{{ line.redshift6 }}</td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are no galaxies where you have been credited.</p>
{% endif %}

    <table width="100%">
      <tr>
        <td>
          <hr noshade size=1><br>
          <center>
          <a href=/pogs/index.php>Main page</a> &middot; <a href=/pogs/home.php>Your account</a> &middot; <a href=/pogs/forum_index.php>Message boards</a>
          <br><br><br>Copyright &copy; 2012 The International Centre for Radio Astronomy Research
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>