<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey</div>
    
  {% if user_galaxy_list %}
    <p>Below is the list of galaxies where your computer has been credited.
    <table>
      <tr>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
        <th>Galaxy</th>
        <th>Redshift</th>
      </tr>
    {% for line in user_galaxy_list %}
      <tr>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.0 }}">{{ line.names.0 }}</a></td>
        <td>{{ line.redshifts.0 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.1 }}">{{ line.names.1 }}</a></td>
        <td>{{ line.redshifts.1 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.2 }}">{{ line.names.2 }}</a></td>
        <td>{{ line.redshifts.2 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.3 }}">{{ line.names.3 }}</a></td>
        <td>{{ line.redshifts.3 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.4 }}">{{ line.names.4 }}</a></td>
        <td>{{ line.redshifts.4 }}</td>
        <td><a href="UserGalaxy/{{ userid }}/{{ line.ids.5 }}">{{ line.names.5 }}</a></td>
        <td>{{ line.redshifts.5 }}</td>
      </tr>
    {% endfor %}
    </table>
{% else %}
    <p>There are no galaxies where you have been credited.</p>
{% endif %}

{% include "pogs/footer.html" %}
  </body>
</html>