<!doctype html>
<html>
  <head>
    <title>POGS</title>
  </head>
  
  <body>
		<p>The bright square or rectangular areas are those where you have been credited with the processing.
		<table>
		  <tr>
		   <td><img src="/pogs/UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/1"></td>
		   <td><img src="/pogs/UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/2"></td>
		   <td><img src="/pogs/UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/3"></td>
		   <td><img src="/pogs/UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/4"></td>
		  </tr>
		</table>
	</body>
</html>