<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/{{ referer }}/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey - {{ galaxy_name }}</div>
    
    <p>The bright square or rectangular areas are those where you have been credited with the processing.
    <table>
      <tr>
        <td>i, r, g</td>
        <td>R, g, NUV</td>
        <td>3.4&mu;m, g, NUV</td>
        <td>22&mu;m, r, NUV</td>
      </tr>
      <tr>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/1" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/2" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/3" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/4" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
      </tr>
    </table>
    
    <p>The following images show the results of the calculations performed against this galaxy to date.
    <table>
      <tr>
        <td title="Fraction of the total V-band optical depth of the dust seen by young stars contributed by dust in the ambient interstellar medium">mu</td>
        <td title="Effective Stellar Mass">m</td>
        <td title="Luminosity absorbed and reradiated by dust ">ldust</td>
        <td title="Star Formation Rate">sfr</td>
      </tr>
      <tr>
       <td style="border-color:white; border-width:1px;"><img src="../../GalaxyParameterImage/{{ galaxy_id }}/mu" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../GalaxyParameterImage/{{ galaxy_id }}/m" width="{{ galaxy_width }}" height="{{ galaxy_height}}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../GalaxyParameterImage/{{ galaxy_id }}/ldust" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../GalaxyParameterImage/{{ galaxy_id }}/sfr" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
      </tr>
    </table>
    
{% include "pogs/footer.html" %}
  </body>
</html>