<!doctype html>
<html>
  <head>
    <title>theSkyNet POGS - the PS1 Optical Galaxy Survey</title>
    <link rel="stylesheet" type="text/css" href="/pogs/main.css" media="all" />
    <link rel="stylesheet" type="text/css" href="/pogs/black.css">
  </head>
  
  <body>
    <div class=page_title>theSkyNet POGS - the PS1 Optical Galaxy Survey - {{ galaxy_name }}</div>
    
    <p>The bright square or rectangular areas are those where you have been credited with the processing.
    <table>
      <tr>
        <td>i, r, g</td>
        <td>R, g, NUV</td>
        <td>3.6&mu;m, g, NUV</td>
        <td>22&mu;m, r, NUV</td>
      </tr>
      <tr>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/1" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/2" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/3" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserGalaxyImage/{{ userid }}/{{ galaxy_id }}/4" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
      </tr>
    </table>
    
    <p>The following images show the results of the calculations performed against this galaxy to date.
    <table>
      <tr>
        <td>mu</td>
        <td>m</td>
        <td>ldust</td>
        <td>sfr</td>
      </tr>
      <tr>
       <td style="border-color:white; border-width:1px;"><img src="../../UserFitsImage/{{ userid }}/{{ galaxy_id }}/mu" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserFitsImage/{{ userid }}/{{ galaxy_id }}/m" width="{{ galaxy_width }}" height="{{ galaxy_height}}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserFitsImage/{{ userid }}/{{ galaxy_id }}/ldust" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
       <td style="border-color:white; border-width:1px;"><img src="../../UserFitsImage/{{ userid }}/{{ galaxy_id }}/sfr" width="{{ galaxy_width }}" height="{{ galaxy_height }}"></td>
      </tr>
    </table>
    
		<table width="100%">
      <tr>
        <td>
          <hr noshade size=1><br>
          <center>
          <a href=/pogs/index.php>Main page</a> &middot; <a href=/pogs/home.php>Your account</a> &middot; <a href=/pogs/forum_index.php>Message boards</a>
          <br><br><br>Copyright &copy; 2012 The International Centre for Radio Astronomy Research
          </center>
        </td>
      </tr>
    </table>
  </body>
</html>